# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/compressed/php/
/compressed/phpMyAdmin/
/compressed/httpd-2.4.27-Win64-VC15.zip
/compressed/mysql-5.7.15-winx64.zip
/compressed/mysql-5.7.15-winx64-debug-test.zip
